
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Areas/Area/Views/Shared/_mytemplate.cshtml";
}

<div class="login">
    <div class="wrap">
        <h4 class="title">Shopping cart is empty</h4>
        <p class="cart">You have no items in your shopping cart.<br>Click @Html.ActionLink("here", "Index", "Home") to continue shopping</p>
    </div>
</div>

